<mat-grid-list cols="3" rowHeight="200px" gutterSize="16px">
  @for (page of pages; track page.path) {
    <mat-grid-tile>
      <mat-card style="width: 100%; height: 100%; cursor: pointer;" [routerLink]="page.path">
        <mat-card-header>
          <mat-icon mat-card-avatar>{{ page.icon }}</mat-icon>
          <mat-card-title>{{ page.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ page.description }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  }
</mat-grid-list>
